pillow-8.2.0
  To install-pip install pillow
zipfile36-0.1.3
  To install-pip install zipfile36
subprocess.run
  To install-pip install subprocess.run
os-sys 
  To install-pip install os-sys
regex
  To install-pip install regex